{% extends 'base.html' %}
{% block title %}LocalOrz{% end %}
{% block content %}
<h1>LocalOrz <small>ver. {{ version }}</small></h1>
<p class="lead"><a href="https://github.com/abcdabcd987/LocalOrz" target="_blank"><em>LocalOrz</em></a> is still under development. We apologize for the bad UI design &amp; BUGs. If you are interested in this project, please join us. Anyway, if you have found any bug, please <a href="https://github.com/abcdabcd987/LocalOrz/issues" target="_blank">Create a new issue</a>. Thank you. Here are some basic feature:</p>
<p></p>
<ul>
  <li><a href="/test/contest" target="_blank">New Contest</a></li>
  <li><a href="/test/contest" target="_blank">Open Contest</a></li>
  <li><a href="/test/contest" target="_blank">Add Problem</a></li>
  <li><a href="/test/contest" target="_blank">Add Testcase</a></li>
  <li><a href="/test/contest" target="_blank">Add Compiler</a></li>
  <li><a href="/test/person" target="_blank">See Judge Result</a></li>
</ul>
{% end %}
