<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}{% end %}</title>
  <link rel="stylesheet" href="{{ static_url('bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('bootstrap-responsive.min.css') }}">
  {% block head %}{% end %}
</head>
<body>
  {% block content %}{% end %}
  <script src="{{ static_url('jquery-1.9.1.min.js') }}"></script>
  <script src="{{ static_url('bootstrap.min.js') }}"></script>
  <script src="{{ static_url('test.js') }}"></script>
</body>
