html, body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding-top: 60px;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.main-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 70px;
}

.display-block {
    display: block !important;
}

#alert {
    display: none;
}

#modification {
    position: fixed;
    left: 25%;
}

#problem-list .problem-title {
    padding-left: 10px;
    font-weight: bold;
}

#problem-list .testcase-title {
    padding-left: 20px;
}

#problem-list .panel-body {
    padding: 0;
}

#problem-list .panel-body .list-group {
    margin: -1px;
}

#problem-list .panel-body .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#problem-list .panel-body .list-group .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}