<div class="form-group compiler">
  <div class="col-xs-2">
    <input type="text" class="form-control extension" placeholder="e.g. pas" value="<%= extension %>">
  </div>
  <div class="col-xs-6">
    <input type="text" class="form-control compile" placeholder="e.g. fpc %s -o %s.exe" value="<%= compile %>">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control execute" placeholder="e.g. %s.exe" value="<%= execute %>">
  </div>
  <div class="col-xs-1">
    <button class="btn btn-danger remove"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>