<div id="problem-list" class="row">
  <div class="col-xs-3">
    <div class="panel panel-default" id="new-problem-box">
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-warning problem-title" data-problem="add"><span class="glyphicon glyphicon-plus"></span> New Problem</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-9" id="modification">
  </div>
</div>